7to8.sh
backup.sh
check502.sh
checkdb.sh
compress.sh
install-lite.sh
install-stretch.sh
install-ubuntu.sh
install.sh
keygen.sh
lnmp.sh
logrotate.sh
pureftpd.sh
purge.sh
pwget.sh
shadowsocks.sh
startup.sh